<div class="heading">
  <div class="info text-center">
    <h3><i class="fa fa-battery-half"></i> 178 mi</h3>
    <h5>{{ driveState }}</h5>
    <img src="assets/car.jpg" />
  </div>
</div>

<mat-list>
  <div class="col-8 offset-2">
    <div class="row">
      <div class="col-4">
        <i class="fa fa-volume-up action"></i>
      </div>
      <div class="col-4">
        <i class="fa fa-map-marker action"></i>
      </div>
      <div class="col-4">
        <i class="fa fa-lock action"></i>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="['/info']" class="two">
    <h1 matLine class="pl-4"> <i class="fa fa-info-circle"></i> INFO <i class="fa fa-chevron-right pull-right"></i> </h1>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="['/controls']" class="two">
    <h1 matLine class="pl-4"> <i class="fa fa-car"></i> CONTROLS <i class="fa fa-chevron-right pull-right"></i></h1>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item (click)="util.goTo('/hvac')">
    <h1 matLine class="pl-4"> <i class="fa fa-thermometer-half two"></i> CLIMATE <i class="fa fa-chevron-right pull-right two"></i></h1>
    <p matLine class="pl-4">
      <span> Interior : {{(hvac$ | async)?.temp}} F</span>
    </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item (click)="util.goTo('/music')">
    <h1 matLine class="pl-4"> <i class="fa fa-music two"></i> MEDIA <i class="fa fa-chevron-right pull-right two"></i></h1>
    <p matLine class="pl-4">
      <span> Playing: Your Favorite Song.mp3 </span>
    </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="['/controls']" class="two">
    <h1 matLine class="pl-4"> <i class="fa fa-cog"></i> SETTINGS <i class="fa fa-chevron-right pull-right"></i></h1>
  </mat-list-item>
</mat-list>
