button.nav {
  position: absolute;
  left: 10px;
  i {
    line-height: 24px;
  }
}
.fa-cog {
  font-size: 18pt;
}
.heading {
  .info {
    img {
      width: 80%;
    }
  }
}
/deep/.mat-menu-content {
  background: #444444;
}
