<br/>
<br/>
<br/>


<mat-grid-list cols="12" rowHeight="20px" class="mt-5">
  <mat-grid-tile colspan="4" rowspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="1">
    <div class="text-center btn-block">
      <i class="fa fa-lock"></i>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="12" rowHeight="50px" class="mb-3">
  <mat-grid-tile colspan="4" rowspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="1">
    <button class="btn btn-block btn-outline-dark btn-link">UNLOCK</button>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list cols="12" rowHeight="20px" class="mt-3">
  <mat-grid-tile colspan="2" rowspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    HAZARD
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="1">
    HONK
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    START
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="12" rowHeight="50px" class="mb-3 mt-2">
  <mat-grid-tile colspan="2" rowspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <button class="btn btn-block btn-outline-dark btn-control"><i class="fa fa-exclamation-triangle"></i></button>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <button class="btn btn-block btn-outline-dark btn-control"><i class="fa fa-bullhorn"></i></button>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <button class="btn btn-block btn-outline-dark btn-control"><i class="fa fa-key"></i></button>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list cols="12" rowHeight="20px" class="mt-3">
  <mat-grid-tile colspan="2" rowspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="1">
    FRONT TRUNK
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    TRUNK
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="12" rowHeight="50px" class="mb-3 mt-2">
  <mat-grid-tile colspan="3" rowspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <button class="btn btn-block btn-outline-dark btn-control"><i class="fa fa-exclamation-triangle"></i></button>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <button class="btn btn-block btn-outline-dark btn-control"><i class="fa fa-key"></i></button>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list cols="12" rowHeight="50px" class="mt-3">
  <mat-grid-tile colspan="6" rowspan="1">
    VALET MODE
  </mat-grid-tile>
  <mat-grid-tile colspan="6" rowspan="1">
    <mat-slide-toggle
      class="example-margin"
      color="primary">
    </mat-slide-toggle>
  </mat-grid-tile>
</mat-grid-list>
